
#undo {
  text-align: center;
  white-space: nowrap;
  padding: 1em;
  cursor: pointer;
}
.armchair {
  float: left;
  margin: 30px 30px 120px 30px;
  text-align: center;
}
.armchair img {
  display: block;
  margin-bottom: 10px;
}
