#tooltip-basic-use .demo-section.k-content,
#tooltip-basic-use html.k-material .demo-section.k-content {
  overflow: hidden;
  padding: 0;
  border: 0;
  box-shadow: none;
}

#tooltip-basic-use #agglomerations {
  position: relative;
  width: 692px;
  height: 480px;
  margin: 0 auto;
  background: url('http://demos.telerik.com/kendo-ui/content/web/tooltip/world-map.jpg') no-repeat 0 0;
}

#tooltip-basic-use #agglomerations a {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff600;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 0;
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  -moz-transition:  -moz-box-shadow .3s;
  -webkit-transition:  -webkit-box-shadow .3s;
  transition:  box-shadow .3s;
}

#tooltip-basic-use #agglomerations a:hover {
  -moz-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
  box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
  -moz-transition:  -moz-box-shadow .3s;
  -webkit-transition:  -webkit-box-shadow .3s;
  transition:  box-shadow .3s;
}

#canton { top: 226px; left: 501px; }
#jakarta { top: 266px; left: 494px; }
#mexico { top: 227px; left: 182px; }
#delhi { top: 214px; left: 448px; }
#karachi { top: 222px; left: 431px; }
#newyork { top: 188px; left: 214px; }
#saopaolo { top: 304px; left: 248px; }
#bombay { top: 233px; left: 438px; }
#losangeles { top: 202px; left: 148px; }
#osaka { top: 201px; left: 535px; }
#moscow { top: 153px; left: 402px; }

#canton:hover,
#jakarta:hover,
#mexico:hover,
#delhi:hover,
#karachi:hover,
#newyork:hover,
#saopaolo:hover,
#bombay:hover,
#losangeles:hover,
#osaka:hover,
#moscow:hover { z-index: 10; }
