#colorpicker-basic-use .demo-section {
    height: 600px;
    width: 600px;
}

#colorpicker-basic-use #background {
    background: transparent url(http://demos.telerik.com/kendo-ui/content/web/colorpicker/interior-bg.png) no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#colorpicker-basic-use .column {
    margin-top: 384px;
    float: left;
    width: 300px;
    text-align: center;
}

#colorpicker-basic-use .column .title {
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    padding: 41px 0 20px;
}

#colorpicker-basic-use #palette {
    vertical-align: top;
    display: inline-block;
}

#colorpicker-basic-use .k-colorpicker { vertical-align: top; margin: 20px 0; }
