#calendar-templates k-calendar {
  margin: 0 auto;
  width: 100%;
}

/* Template Days */

#calendar-templates .exhibition,
#calendar-templates .party,
#calendar-templates .cocktail {
    font-weight: bold;
}

#calendar-templates .exhibition {
    color: #ff9e00;
}

#calendar-templates .party {
    color: #ff4081;
}

#calendar-templates .cocktail {
    color: #00a1e8;
}
