#autocomplete-api .box .k-textbox {
    width: 80px;
}
#autocomplete-api .box .k-button {
    min-width: 80px;
}
#autocomplete-api li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete-api .box-col {
  display: block;
  float: left;
  padding: 0 3em 1.667em 0;
}
