#fieldlist {
  margin: 0;
  padding: 0;
}

#fieldlist li {
  list-style: none;
  padding-bottom: .7em;
  text-align: left;
}

#fieldlist label {
  display: block;
  padding-bottom: .3em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
}

#fieldlist li .k-widget:not(.k-tooltip),
#fieldlist li .k-textbox {
  margin: 0 5px 5px 0;
}

span.k-widget.k-tooltip-validation {
  display; inline-block;
  width: 160px;
  text-align: left;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  color: red;
}

.k-tooltip-validation .k-warning {
  display: none;
}
