#linear-gauge-multiple-pointers #gauge-container {
  text-align: center;
  margin: 0 auto;
  background: transparent url("http://demos.telerik.com/kendo-ui/content/dataviz/gauge/linear-gauge-container.png") no-repeat 50% 50%;
  padding: 18px;
  width: 300px;
  height: 300px;
}

#linear-gauge-multiple-pointers #gauge {
  height: 300px;
  display: inline-block !important;
  *display: inline !important;
  zoom: 1;
}
