#radial-gauge-basic-use #gauge-container {
  background: transparent url("http://demos.telerik.com/kendo-ui/content/dataviz/gauge/gauge-container-partial.png") no-repeat 50% 50%;
  width: 386px;
  height: 386px;
  text-align: center;
  margin: 0 auto 30px auto;
}

#radial-gauge-basic-use #gauge {
  width: 350px;
  height: 300px;
  margin: 0 auto;
}

#radial-gauge-basic-use #gauge-container .ak-slider {
  margin-top: -11px;
  width: 140px;
}
