#radial-gauge-export #gauge-container {
  background: transparent url("http://demos.telerik.com/kendo-ui/content/dataviz/gaugegauge-container.png") no-repeat 50% 50%;
  width: 404px;
  height: 404px;
  text-align: center;
  margin: 0 auto 30px auto;
}

#radial-gauge-export #gauge {
  width: 330px;
  height: 330px;
  margin: 0 auto 0;
}
