#menu-basic-use #megaStore {
    max-width: 600px;
    margin: 30px auto;
    padding-top: 120px;
    background: url('http://demos.telerik.com/kendo-ui/content/web/menu/header.jpg') no-repeat center 0;
}
#menu-basic-use #menu h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 10px;
}
#menu-basic-use #template img {
    margin: 5px 20px 0 0;
    float: left;
}
#menu-basic-use #template {
    width: 380px;
}
#menu-basic-use #template ol {
    float: left;
    margin: 0 0 0 30px;
    padding: 10px 10px 0 10px;
}
#menu-basic-use #template:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#menu-basic-use #template .k-button {
    float: left;
    clear: left;
    margin: 5px 0 5px 12px;
}
