#menu-context-menu #listview-context-menu {
  padding: 0;
  margin-bottom: -1px;
  min-height: 300px;
}
#menu-context-menu .product {
  position: relative;
  height: 62px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(128,128,128,.3);
}
#menu-context-menu .product img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 10px;
  border: 1px solid #000;
  float: left;
}
#menu-context-menu .product h3 {
  margin: 0;
  padding: 15px 5px 1px 0;
  overflow: hidden;
  line-height: 1em;
  font-size: 1.1em;
  font-weight: bold;
}
#menu-context-menu .product p {
  font-size: .9em;
}
#menu-context-menu .product .date {
  float: right;
  margin: -8px 15px 0 0;
}
#menu-context-menu .k-listview:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@media screen and (max-width: 620px) {
  #menu-context-menu .product h3 {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 15px;
  }

}
