#basic-use .btn-basic-use .demo-section p {
    margin: 0 0 30px;
    line-height: 50px;
}
#basic-use .btn-basic-use .demo-section p .k-button {
    margin: 0 10px 0 0;
}
#basic-use .btn-basic-use .k-primary {
    min-width: 150px;
}
