#button-images .demo-section {
    line-height: 4em;
}
#button-images .demo-section .k-button {
    margin-right: 10px;
}
#button-images .k-button .k-image {
    height: 16px;
}
#button-images .netherlandsFlag {
    background-image: url("http://demos.telerik.com/kendo-ui/content/shared/styles/flags.png");
    background-position: 0 -64px;
}
