#listview-editing .product-view
{
  float: left;
  width: 50%;
  height: 300px;
  box-sizing: border-box;
  border-top: 0;
  position: relative;
}
#listview-editing .product-view:nth-child(even) {
  border-left-width: 0;
}
#listview-editing .product-view dl
{
  margin: 10px 10px 0;
  padding: 0;
  overflow: hidden;
}
#listview-editing .product-view dt, dd
{
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 24px;
  font-size: 18px;
}
#listview-editing .product-view dt
{
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0.5;
}

#listview-editing .product-view dd
{
  height: 46px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

#listview-editing .product-view dd .k-widget,
#listview-editing .product-view dd .k-textbox {
  font-size: 14px;
}
#listview-editing .k-listview
{
  border-width: 1px 0 0;
  padding: 0;
  overflow: hidden;
  min-height: 298px;
}
#listview-editing .edit-buttons
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 5px;
  background-color: rgba(0,0,0,0.1);
}
#listview-editing .k-pager-wrap
{
  border-top: 0;
}
#listview-editing span.k-invalid-msg
{
  position: absolute;
  margin-left: 6px;
}

#listview-editing .k-add-button {
  margin-bottom: 2em;
}

@media only screen and (max-width : 620px) {

  #listview-editing .product-view
  {
    width: 100%;
  }
  #listview-editing .product-view:nth-child(even) {
    border-left-width: 1px;
  }
}
