#listview-selection k-listview {
  padding: 10px 5px;
  margin-bottom: -1px;
  min-height: 510px;
}
#listview-selection .product {
  float: left;
  position: relative;
  width: 111px;
  height: 170px;
  margin: 0 5px;
  padding: 0;
}
#listview-selection .product img {
  width: 110px;
  height: 110px;
}
#listview-selection .product h3 {
  margin: 0;
  padding: 3px 5px 0 0;
  max-width: 96px;
  overflow: hidden;
  line-height: 1.1em;
  font-size: .9em;
  font-weight: normal;
  text-transform: uppercase;
  color: #999;
}
#listview-selection .product p {
  visibility: hidden;
}
#listview-selection .product:hover p {
  visibility: visible;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  margin: 0;
  padding: 0;
  line-height: 110px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.75);
  transition: background .2s linear, color .2s linear;
  -moz-transition: background .2s linear, color .2s linear;
  -webkit-transition: background .2s linear, color .2s linear;
  -o-transition: background .2s linear, color .2s linear;
}
#listview-selection .k-listview:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
