#dropdownlist-customizing-templates-customers-list .dropdown-header {
    border-width: 0 0 1px 0;
    text-transform: uppercase;
}

#dropdownlist-customizing-templates-customers-list .dropdown-header > span {
    display: inline-block;
    padding: 10px;
}

#dropdownlist-customizing-templates-customers-list .dropdown-header > span:first-child {
    width: 50px;
}

#dropdownlist-customizing-templates .selected-value {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 100%;
    margin-right: 5px;
    border-radius: 50%;
}

#dropdownlist-customizing-templates-customers-list .k-item {
    line-height: 1em;
    min-width: 300px;
}

/* Material Theme padding adjustment*/

#dropdownlist-customizing-templates-customers-list .k-material .k-item,
#dropdownlist-customizing-templates-customers-list .k-material .k-item.k-state-hover,
#dropdownlist-customizing-templates-customers-list .k-materialblack .k-item,
#dropdownlist-customizing-templates-customers-list .k-materialblack .k-item.k-state-hover {
    padding-left: 5px;
    border-left: 0;
}

#dropdownlist-customizing-templates-customers-list .k-item > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px 10px 5px;
}

#dropdownlist-customizing-templates-customers-list .k-item > span:first-child {
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#dropdownlist-customizing-templates-customers-list h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 0;
}

#dropdownlist-customizing-templates-customers-list p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}
