#sortable-handlers #example {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sortable-handlers #pages {
  margin: 30px auto;
  width: 300px;
  background-color: #f3f5f7;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
}

#sortable-handlers #pages-title {
  height: 60px;
  background: url('http://demos.telerik.com/kendo-ui/content/web/sortable/handlers-title.png') no-repeat 50% 15px;
}

#sortable-handlers #pages-title span {
  display: none;
}

.sortable-handlers-item {
  margin: 15px;
  padding: 0 10px 0 0;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  font-size: 1.3em;
  line-height: 2.5em;
}

.sortable-handlers-handler {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  border-radius: 3px 0 0 3px;
  background: url('http://demos.telerik.com/kendo-ui/content/web/sortable/handle.png') no-repeat 50% 50% #ccc;
  cursor: move;
}

.sortable-handlers-handler:hover {
  background-color: #2db245;
}

.placeholder {
  width: 298px;
  border: 1px solid #2db245;
}

.sortable-handlers-hint {
  border: 2px solid #2db245;
  border-radius: 6px;
}

.sortable-handlers-hint .handler {
  background-color: #2db245;
}
