#sortable-sortable-panels #example {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sortable-sortable-panels .dash-head {
  width: 970px;
  height: 80px;
  background: url('http://demos.telerik.com/kendo-ui/content/web/sortable/dashboard-head.png') no-repeat 50% 50% #222222;
}

#sortable-sortable-panels .panel-wrap {
  display: table;
  margin: 0 0 20px;
  width: 968px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

#sidebar {
  display: table-cell;
  margin: 0;
  padding: 20px 0 20px 20px;
  width: 220px;
  vertical-align: top;
}

#main-content {
  display: table-cell;
  margin: 0;
  padding: 20px;
  width: 680px;
  vertical-align: top;
}

.widget.sortable-panels-placeholder {
  opacity: 0.4;
  border: 1px dashed #a6a6a6;
}

/* WIDGETS */
.widget {
  margin: 0 0 20px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  cursor: move;
}

.widget:hover {
  background-color: #fcfcfc;
  border-color: #cccccc;
}

.widget div {
  padding: 10px;
  min-height: 50px;
}

.widget h3 {
  font-size: 12px;
  padding: 8px 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
}

.widget h3 span {
  float: right;
}

.widget h3 span:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  border-radius: 20px;
}

/* PROFILE */
.profile-photo {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  border-radius: 100px;
  border: 1px solid #e7e7e7;
  background: url('http://demos.telerik.com/kendo-ui/content/web/Customers/ISLAT.jpg') no-repeat 50% 50%;
}

#profile div {
  text-align: center;
}

#profile h4 {
  width: auto;
  margin: 0 0 5px;
  font-size: 1.2em;
  color: #1f97f7;
}

#profile p {
  margin: 0 0 10px;
}

/* BLOGS & NEWS */
#blogs div,
#news div {
  padding: 0 20px 20px;
}

#teammates h4,
#blogs h4,
#news h4 {
  width: auto;
  margin: 20px 0 2px;
  font-size: 1.4em;
  color: #1f97f7;
  font-weight: normal;
}

.blog-info {
  margin: 0 0 10px;
  font-size: .9em;
  color: #787878;
}

#sidebar #blogs h4 {
  font-size: 1em;
}

#sidebar #blogs p {
  display: none;
}

#sidebar #blogs .blog-info {
  display: block;
}

#main-content #news h4 {
  font-size: 1.2em;
  line-height: 1.4em;
  height: 40px;
}

#main-content #news h4 span {
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  color: #000;
}

#sidebar #news h4 {
  font-size: 1em;
}

#sidebar #news h4 span {
  display: block;
  margin-bottom: 3px;
  color: #000;
}

/* TEAMMATES */
.team-mate:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

#teammates .team-mate h4 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 12px;
}

.team-mate p {
  margin: 0;
}

.team-mate img {
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid #e7e7e7;
  border-radius: 60px;
}

.sortable-panels-hint {
  width: 250px;
  height: 100px;
  overflow: hidden;
}

.sortable-panels-hint > h3 {
  padding-left: 20px;
}
