#tabstrip-images #tabstrip-sprites .k-sprite {
    background-image: url("http://demos.telerik.com/kendo-ui/content/shared/styles/flags.png");
}
#tabstrip-images .brazilFlag {
  background-position: 0 0;
}
#tabstrip-images .indiaFlag {
  background-position: 0 -32px;
}
#tabstrip-images .netherlandsFlag {
  background-position: 0 -64px;
}
#tabstrip-images .k-tabstrip .k-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
